# Dependencies
node_modules

# Temporary editor files
.DS_Store
*.swp
*~
*.temp

# Logs
npm-debug.log*

# Local env files
.env*.local
.env
.secrets.yml

# VSCode editor setings
.vscode

# Typescript
*.tsbuildinfo
next-env.d.ts

# Sentry
.sentryclirc

# Production build
.next
.build

# Electron build
compiled
dist
